#column1{ margin-left: 20px;}
#column1, #column2, #column3{
	float: left;
	margin-top: 20px;
	margin-right: 15px;
}
#lineButton{
	border: 0px solid red;
	width: 1000px;
	height: 25px;
	float: left;
	margin-top: 10px;
}
#retornoErro{
	border: 1px solid #FBC2C4;
	width: 1000px;
	height: auto;
	float: left;
	margin-top: 10px;
}
#retorno{
	border: 0px solid red;
	width: 1000px;
	height: 300px;
	float: left;
	margin-top: 290px;
	overflow-y: scroll;
	position: absolute;
}
table.resultado{
	width: 980px;
	height: auto;
}

table.resultado td.um{
	width: 200px;
}
table.resultado td.dois{
	width: 200px;
}
table.resultado td.tres{
	width: 200px;
}
table.resultado td.quatro{
	width: 200px;
}
img#edit, img#remover{
	cursor: pointer;
}